<!DOCTYPE html>
<html>
    <head>
        <title>Acensi Test Student</title>
        <meta charset="utf-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <link rel="icon" type="image/x-icon" href="https://choosemycompany.com/generated/img-cache/square_300_logo/stock/company-images/Acensi-1529412375.jpeg"/>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>